<!DOCTYPE html>
<html ng-app="CGC">
<head>
  <title>CGC</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/jquery-2.2.4.js"></script>
</head>
<body ng-cloak>
  <div class="container" ng-controller="GlobalCtrl">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
            <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                <i class="glyphicon glyphicon-bell"></i>
              </a>
              
              <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                
                <div class="notification-heading"><h4 class="menu-title">Notifications</h4>
                </div>
                <li class="divider"></li>
               <div class="notifications-wrapper">
                 <a class="content" href="#">
                  
                   <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>
                   
                </a>
               </div>
                <li class="divider"></li>
                <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
              </ul>
            </div>
            <li role="presentation"><a href="#">{{user.email}}</a></li>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/user/search">Search</a></li>
            <li role="presentation"><a href="/user/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a href="/user/register">Register</a></li>
            <li role="presentation"><a href="/user/login">Login</a></li>
            {{/if}}

          </ul>
        </nav>
        <h3 class="text-muted">CGC App</h3>

      </div>

      <div class="row">
        <div class="col-lg-12">
        <div ng-if="success_msg" class="alert alert-success" ng-cloak><span ng-bind="success_msg"></span></div>
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
          <div ng-if="error_msg" class="alert alert-danger" ng-cloak><span ng-bind="error_msg"></span></div>
        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{{body}}}
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 CGC App</p>
      </footer>
    </div> <!-- /container -->
  <script type="text/javascript" src="/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/angular.js"></script> 
  <script type="text/javascript" src="/controllers/app.js"></script>
  <script type="text/javascript" src="/controllers/global.js"></script>
  <script type="text/javascript" src="/controllers/user_service.js"></script>
  <script type="text/javascript" src="/controllers/socket_factory.js"></script>
  <script type="text/javascript" src="/controllers/index.js"></script>
  <script type="text/javascript" src="/controllers/user.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
